# Control Flow

### 1. if

In [7]:
x, y = 12, 20
if(x>y):
    print('{} es mayor a {}'.format(x,y))
    
season = 'winter'
list_friends = []
beach_name = ''

if(season == 'summer'):
    print('go to the beach')
    list_friends = ['Carmen','Jose']
    beach_name = 'Rio de Janeiro'
else:
    print('stay home')
    
print(list_friends)
print(beach_name)

stay home
[]

In [9]:
budget = 500
holidays = 'New York'

if (holidays == 'New York'):
    budget = 1000
elif (holidays == 'India'):
    budget = 200
elif (holidays == 'Brazil'):
    budget = 1500
else:
    budget = 50
print('Presupuesto total {}'.format(budget))

Presupuesto total 1000

### 2. For en listas

In [14]:
numbers = [1, 2, 3, 4]
for number in numbers:
    print(number)

for number in range(0, 10, 2):#de n a m-l, donde (n,m,l) y number = n+l
    print(number)

1
2
3
4
0
2
4
6
8

In [17]:
colors = ['White','Black','Red']
lower_colors = []
capitalized_colors = []
for color in colors:
    lower_colors.append(color.lower())
    capitalized_colors.append(color.upper())
print(lower_colors)
print(capitalized_colors)

['white', 'black', 'red']
['WHITE', 'BLACK', 'RED']

### 3. For en diccionarios

In [19]:
students = {'Mary':30,'Pablo':45}
for student in students:
    print(student)
for student in students.values():
    print(student)
for name, age in students.items():
    print(name, age)

Mary
Pablo
30
45
Mary 30
Pablo 45

In [21]:
fruits = {'orange': 4,'apples': 10 }
count = 0
for element in fruits.values():
    count += element
print(count)

14

### 4. While

In [22]:
count = 0
while(count < 5):
    print('count {}'.format(count))
    count += 1

count 0
count 1
count 2
count 3
count 4

In [23]:
cards = [4 , 2, 8, 13]
my_cards =[]

while sum(my_cards) < 21:
    my_cards.append(cards.pop())
print(my_cards)

[13, 8]

### 5. Break & Continue

In [1]:
# break 
future_savings = {'January':130, 'February': 160,  'March': 180,'April':140,'May':90}
final_mounth = ''
total = 0

for mounth, money in future_savings.items():
    total += money
    if( total >= 500):
        final_mounth = mounth
        break
print(final_mounth,total)

April 610

In [2]:
# continue 
future_savings = {'January':130, 'February': 160,  'March': 180,'April':140,'May':90}
final_mounth = ''
total = 0

for mounth, money in future_savings.items():
    if( mounth == 'March'):
        continue
    total += money
    
print(final_mounth,total)

 520

### 6. Zip

In [7]:
status_logs = ['HTTP OK','HTTP NOT FOUND']
page_logs = ['main.html', 'index.html']

for status,page in zip(status_logs,page_logs):
    print(status,page)
    
list_logs = list(zip(status_logs,page_logs))
print(list_logs)

tuple_status, tuple_page = zip(*list_logs)
print(tuple_status, tuple_page)

HTTP OK main.html
HTTP NOT FOUND index.html
[('HTTP OK', 'main.html'), ('HTTP NOT FOUND', 'index.html')]
('HTTP OK', 'HTTP NOT FOUND') ('main.html', 'index.html')

In [9]:
countries = ['Brazil','Chile','China']
capitals = ['Brasilia','Santiago','Pekin']

for country, capital in zip(countries,capitals):
    print(country,capital)

Brazil Brasilia
Chile Santiago
China Pekin

### 7. Enumerate

In [10]:
students = ['Mary','Paul','Carol','Luis']
for index, name in enumerate(students):
    print(index,name)

0 Mary
1 Paul
2 Carol
3 Luis

In [11]:
things = ['laptop','celular','desktop','book']
for index, name in enumerate(things):
    print(index,name)

0 laptop
1 celular
2 desktop
3 book